@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

.temp {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-top: 23%;
}

.back {
    background-color: blue;
    color: white;
    border-radius: 25px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: medium;
    height: 46.5px;
    width: 210px;
    border-color: transparent;
}